/* Color Styles */
/* This selects a div element with a class that's name starts with "child" */
div[class^="child"] {
    padding: 0 10px;
}

.parent {
    border: 2px solid #606c38;
    margin: 20px 0;
}

.child, .child3, .child5, .child7 {
    background-color: #bc6c25;
    border: 1px solid #894e19;
}

.child2, .child4, .child6, .child8 {
    background-color: #dda15e;
    border: 1px solid #966b3a;
}

/* FLEXBOX STYLES */
/* Add the flexbox styles below.
You do NOT need to touch the styles above this */